@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~unsemantic/assets/sass/unsemantic-grid-responsive.scss";

@import "stylesheets/chem-elements.scss";
@import "stylesheets/header.scss";
@import "stylesheets/identities.scss";
@import "stylesheets/footer.scss";

body {
    font-size: 1em;
    margin: 0;
}

html {
    background: url('./assets/images/nat-pants.png');
    font-family: "Helvetica Neue", Helvetica, Arial, PingFangTC-Light, "Microsoft YaHei", 微软雅黑, "STHeiti Light", STXihei, "华文细黑", Heiti, 黑体, sans-serif;
}

.header .greeting .chem-element {
    text-decoration: none;
}


.main-container {
    margin: 0 auto;
    max-width: 64em;
}

.no-wrap {
    display: inline-block;
}

.section {
    box-shadow: 0 0 0.15em 0.15em rgba(0, 0, 0, 0.125);
    margin: 1em 0;
}

